@import "tailwindcss";

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Variable.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-VariableItalic.ttf');
	font-style: italic;
	font-display: swap;
}
