---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@lib/consts";
---

<header>
  <Container>
    <nav class="flex gap-4 my-16 group ">
      <Link href="/" >
        home
      </Link>
      <Link href="/posts">
        posts
      </Link>
      <Link href="/work">
        work
      </Link>
      <Link href="/projects">
        projects
      </Link>
    </nav>
  </Container>
</header>
